<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org">
    <!--headerFragment 선언-->
    <div th:fragment="head">
        <meta charset="UTF-8">
        <title th:text="${title}">Title</title>
        <h1>
            <span th:text="${title}" th:remove="tag">title</span>
        </h1>
        &copy; 2021-03-15 The Good Thymes Virtual Grocery
    </div>
</html>