<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org">
<!--todo DB연동 동적으로 표현할 구역-->
<div id="leftDiv" th:fragment="left" class="left-menu">
    <style>
        #leftDiv{
            position: relative;
            width: 300px;
        }
    </style>
    <ul>
        <a th:href="@{/v1/totalFunctionMap1}"><li>통합1</li></a>
        <a th:href="@{/v1/totalFunctionMap2}"><li>통합2</li></a>
    </ul>
    <ol>
        <a th:href="@{/v1/createMap}"><li>지도 생성하기</li></a>
        <a th:href="@{/v1/moveMap}"><li>지도 이동시키기</li></a>
        <a th:href="@{/v1/changeLevelMap}"><li>지도 레벨 바꾸기</li></a>
        <a th:href="@{/v1/getInfoMap}"><li>지도 정보 얻어오기</li></a>
        <a th:href="@{/v1/mapControlMap}"><li>지도에 컨트롤 올리기</li></a>
        <a th:href="@{/v1/userControlMap}"><li>지도에 사용자 컨트롤 올리기</li></a>
        <a th:href="@{/v1/blockMoveMap}"><li>지도 이동 막기</li></a>
        <a th:href="@{/v1/blockZoomInOutMap}"><li>지도 확대 축소 막기</li></a>
        <a th:href="@{/v1/getTrafficMap}"><li>지도에 교통정보 표시하기</li></a>
        <a th:href="@{/v1/getLoadViewMap}"><li>지도에 로드뷰 도로 표시하기</li></a>
        <a th:href="@{/v1/topographicMap}"><li>지도에 지형도 표시하기</li></a>
        <a th:href="@{/v1/changeTypeMap1}"><li>지도 타입 바꾸기1</li></a>
        <a th:href="@{/v1/changeTymeMap2}"><li>지도 타입 바꾸기2</li></a>
        <a th:href="@{/v1/relocateRangeMap}"><li>지도 범위 재설정 하기</li></a>
        <a th:href="@{/v1/dynamicChangeMap}"><li>지도 영역 크기 동적 변경하기</li></a>
        <a th:href="@{/v1/clickRegEvent}"><li>클릭 이벤트 등록하기</li></a>
        <a th:href="@{/v1/clickMarkerRegMap}"><li>클릭한 위치에 마커 표시하기</li></a>
        <a th:href="@{/v1/moveEventReg}"><li>이동 이벤트 등록하기</li></a>
        <a th:href="@{/v1/zoomInOutEventReg}"><li>확대, 축소 이벤트 등록하기</li></a>
        <a th:href="@{/v1/centerLocationChangeEventReg}"><li>중심좌표 변경 이벤트 등록하기</li></a>
        <a th:href="@{/v1/domainChangeEventReg}"><li>영역 변경 이벤트 등록하기</li></a>
        <a th:href="@{/v1/tileLoadEventReg}"><li>타일로드 이벤트 등록하기</li></a>
        <a th:href="@{/v1/customTileSet1}"><li>커스텀 타일셋1</li></a>
        <a th:href="@{/v1/customTileSet2}"><li>커스텀 타일셋2</li></a>
    </ol>

    <ol>
        <a th:href="@{/v1/overlay/createMarker}"><li>마커 생성하기</li></a>
        <a th:href="@{/v1/overlay/createCanBeDragMarker}"><li>드래그 가능한 마커 생성하기</li></a>
        <a th:href="@{/v1/overlay/createOtherImageMarker}"><li>다른 이미지로 마커 생성하기</li></a>
        <a th:href="@{/v1/overlay/createInfoWindow}"><li>인포윈도우 생성하기</li></a>
        <a th:href="@{/v1/overlay/showInfoWindowOnTheMarker}"><li>마커에 인포윈도우 표시하기</li></a>
        <a th:href="@{/v1/overlay/registerClickEventOnTheMarker}"><li>마커에 클릭 이벤트 등록하기</li></a>
        <a th:href="@{/v1/overlay/registerMouseEventOnTheMarker}"><li>마커에 마우스 이벤트 등록하기</li></a>
        <a th:href="@{/v1/overlay/applyDraggableMarkerEvent}"><li>draggable 마커 이벤트 적용하기</li></a>
        <a th:href="@{/v1/overlay/showGeoloacationOnTheMarker}"><li>geolocation으로 마커 표시하기</li></a>
        <a th:href="@{/v1/overlay/showSeveralMarker}"><li>여러개 마커 표시하기</li></a>
        <a th:href="@{/v1/overlay/controlSeveralMarker}"><li>여러개 마커 제어하기</li></a>
        <a th:href="@{/v1/overlay/registerSeveralMarkerAddEvent1}"><li>여러개 마커에 이벤트 등록하기1</li></a>
        <a th:href="@{/v1/overlay/registerSeveralMarkerAddEvent2}"><li>여러개 마커에 이벤트 등록하기2</li></a>
        <a th:href="@{/v1/overlay/showVariousImageOnTheMarker}"><li>다양한 이미지 마커 표시하기</li></a>
        <a th:href="@{/v1/overlay/showSeveralModel}"><li>원, 선, 사각형, 다각형 표시하기</li></a>
        <a th:href="@{/v1/overlay/calculateDistanceOfLine}"><li>선의 거리 계산하기</li></a>
        <a th:href="@{/v1/overlay/calculateAreaOfPolygon}"><li>다각형의 면적 계산하기</li></a>
        <a th:href="@{/v1/overlay/registerPolygonEvent1}"><li>다각형에 이벤트 등록하기1</li></a>
        <a th:href="@{/v1/overlay/registerPolygonEvent2}"><li>다각형에 이벤트 등록하기2</li></a>
        <a th:href="@{/v1/overlay/calculateCircleRadius}"><li>원의 반경 계산하기</li></a>
        <a th:href="@{/v1/overlay/createCustomOverlay1}"><li>커스텀 오버레이 생성하기1</li></a>
        <a th:href="@{/v1/overlay/createCustomOverlay2}"><li>커스텀 오버레이 생성하기2</li></a>
        <a th:href="@{/v1/overlay/closeCanBeCustomOverlay}"><li>닫기가 가능한 커스텀 오버레이</li></a>
        <a th:href="@{/v1/overlay/imageMarkerCustomOverlay}"><li>이미지 마커와 커스텀 오버레이</li></a>
        <a th:href="@{/v1/overlay/draggableCustomOverlay}"><li>커스텀오버레이를 드래그 하기</li></a>
        <a th:href="@{/v1/overlay/trackingMarkerOutOfMap}"><li>지도 영역 밖의 마커위치 추적하기</li></a>
        <a th:href="@{/v1/overlay/createPerforatedPolygon}"><li>구멍난 다각형 만들기</li></a>
    </ol>
</div>
</html>
